/* Home.css */

body {
    background: url('/public/bg.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.home-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.5em;
}

.text-2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #040404;
    margin-bottom: 0.5em;
}


@media (max-width: 600px) {
    .home-container {
        font-size: 14px;
    }
}

@media (min-width: 601px) {
    .home-container {
        font-size: 18px;
    }
}