body {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bdbbbb;
}

.form-wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container label {
    /* display: block; */
    font-weight: bold;
    margin-top: 10px;
    color: black;
}

.form-container input[type="text"],
.form-container input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="checkbox"] {
    margin-left: 20px;
    margin-top: 12px;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.checkbox {
    display: flex;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;

}

/* Responsive styles for smaller screens */
@media (max-width: 400px) {

    .form-container input[type="text"],
    .form-container input[type="date"] {
        width: 100%;
    }
}